body {
  background-color: #9ab9ea
}

div.wrapper {
  float: left;
  margin: 4px;
  border-radius: 25px 25px 25px 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #c0d3f2;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 6px;
}

/*
.navigation > ul li {
       display: inline-block;
       float: left;
       background-color: #c0d3f2;
       text align: center;
       padding: 20px;
}
*/

.masthead {
       font-family: "Helvetica" Arial, Helvetica, sans-serif;
       font-size: 36px;
       text-transform: uppercase;
       font-weight: bold;
       background-color: #f1f1f1;
       font color= #0f3f8c;
       text-align: center;
       padding: 36px;
       border-top: double #000000;
       border-bottom: double #000000;
}

#shopping-cart table{width:100%;background-color:#F0F0F0;}
#shopping-cart table td{background-color:#FFFFFF;}

.txt-heading{
	padding: 10px 10px;
    border-radius: 2px;
    color: #FFF;
    background: #6aadf1;
	margin-bottom:10px;
}
a.btnRemoveAction{color:#D60202;border:0;padding:2px 10px;font-size:0.9em;}
a.btnRemoveAction:visited{color:#D60202;border:0;padding:2px 10px;font-size:0.9em;}

#btnEmpty {
	background-color: #ffffff;
    border: #FFF 1px solid;
    padding: 1px 10px;
    color: #ff0000;
    font-size: 0.8em;
    float: right;
    text-decoration: none;
    border-radius: 4px;
}

#btnCheckout {
  background-color: #ffffff;
    border: #FFF 1px solid;
    padding: 1px 10px;
    margin-right: 4px;
    color: #ff0000;
    font-size: 0.8em;
    float: right;
    text-decoration: none;
    border-radius: 4px;
}

.btnAddAction{    background-color: #eb9e4f;
    border: 0;
    padding: 3px 10px;
    color: #ffffff;
    margin-left: 2px;
    border-radius: 2px;
}
#shopping-cart {margin-bottom:30px;}
.cart-item {border-bottom: #79b946 1px dotted;padding: 10px;}
#product-grid {margin-bottom:30px;}
.product-item {	float:left;	background: #ffffff;margin:15px 10px;	padding:5px;border:#CCC 1px solid;border-radius:4px;}
.product-item div{text-align:center;	margin:10px;}
.product-price {
	color: #005dbb;
    font-weight: 600;
}
.product-image {height:100px;background-color:#FFF;}
.clear-float{clear:both;}
.demo-input-box{border-radius:2px;border:#CCC 1px solid;padding:2px 1px;}
