<style>
body {

}

.header {
  background-color: #f1f1f1;
  <font color= "#0f3f8c">;
  text-align: center;
  padding: 20px;
}

.navigation a {
  float: left;
  display: block;
  color: #0f3f8c;
  text align: center;
  padding: 16px;
}

.navigation a:hover {
  background-color: ccdfff;
}

</style>
